<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumDemo Automation Suite" verbose="1" parallel="false">

    <listeners>
<!--        <listener class-name="org.testng.reporters.EmailableReporter2"/>-->
        <listener class-name="assessment.demo.Utils.ReportListener"/>
    </listeners>
        <test name="SeleniumDemo Tests">
        <classes>
             <class name="com.demo.test.DemoTest" />
        </classes>
    </test>
</suite>